<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.ListenersPackage.Listeners"/>
        <listener class-name="com.qa.ExtentReportListener.ExtentReporterNG"/>
        </listeners>

    <test verbose="2" preserve-order="true"
          name="C:/Users/User/eclipse-workspace/BetikaWebApplicationTest/BetikaTestApplication">
        <classes>
            <class name="com.commontests.PlaceSoccerBetTest">
                <methods>
                   <include name="placebet"/>
                </methods>
            </class>
            <class name="com.commontests.RegisterUser">
                <methods>
                    <include name="registeruser"/>
                </methods>
            </class>
            <class name="com.commontests.SelectMultipleSoccerbets">
                <methods>
                    <include name="SelectMultipleSoccerbets"/>
                </methods>

            </class>
            <class name="com.commontests.Test_BrokenLinks">
                <methods>
                    <include name="testBrokenLinks"/>
                </methods>
            </class>
            <class name="com.commontests.Test_BoxingMatches">
                <methods>
                    <include name=" PlacementBoxingMatches"/>
                </methods>
            </class>
            <class name="com.commontests.TestNotifications">
                <methods>
                    <include name="notifications_Test"/>
                </methods>
            </class>
            <class name="com.commontests.TestHandballGames">
                <methods>
                    <include name="selectSingleRandomBet"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>