<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.ListenersPackage.Listeners"/>
        <listener class-name="org.testng.reporters.XMLReporter"/>
        </listeners>

    <test verbose="2" preserve-order="true"
          name="C:/Users/User/eclipse-workspace/BetikaWebApplicationTest/BetikaTestApplication">
        <classes>
            <class name="com.commontests.PlaceSingleSoccerBetTest">
                <methods>
                   <include name="placeSingleSoccerbet"/>
                    <include name="verifyMyBets"/>
                </methods>
            </class>
            <class name="com.commontests.RegisterUserTest">
                <methods>
                    <include name="registerUser"/>
                </methods>
            </class>
            <class name="com.commontests.SelectMultipleSoccerbetsTest">
                <methods>
                    <include name="TestSelectionOfMultipleSoccerGames"/>

                </methods>

            </class>
            <class name="com.commontests.TableTennisTest">
                <methods>
                    <include name="placeTableTennisMatches"/>
                </methods>
            </class>
            <class name="com.commontests.BoxingMatchesTest">
                <methods>
                    <include name="placetestBoxingMatches"/>
                </methods>
            </class>
            <class name="com.commontests.CasinoGamesTest">
                <methods>
                    <include name="casinoTest"/>
                </methods>
            </class>
            <class name="com.commontests.HandballGamesTest">
                <methods>
                    <include name="selectSingleRandomBet"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>